@import "../../../styles/variables";

.avatar {
  height: 2rem;
  width: 2rem;

  img {
    max-height: calc(100% - 0.25rem);
    max-width: calc(100% - 0.25rem);
    border-radius: 50%;
    border: 0.125rem solid $avatar-border-color;
  }
}
