@import "../../styles/variables";

.login-form {
  height: 100%;
  width: 100%;
}

.header {
  font-weight: normal;
}

.back-link {
  display: flex;
  align-items: center;

  .back-text {
    text-transform: none;
    color: $back-text-color;
  }
}


